<section class="cart-page container mx-auto">

    <% if (session.cart) { %>
        <div class="orders py-14 w-[60%] mx-auto">
            <h1 class="text-2xl font-bold ">Order summary</h1>
            <hr class="my-3">
    
            <% for (const pizza of Object.values(session.cart.items)) { %>
                <div class="order flex justify-between items-center my-4">
                    <div class="flex items-center">
                        <img class="w-16 rounded-md" src="./images/<%= pizza.item.image %>" alt="">
                        <div class="mx-4">
                            <span class="block font-bold text-xl"><%= pizza.item.name %></span>
                            <span class="block text-gray-700"><%= pizza.item.size %></span>
                        </div>
                    </div>
        
                    <span><%= pizza.qty %> Pcs.</span>
                    <span class="font-bold">$ <%= pizza.item.price * pizza.qty %></span>
                </div>
            <% } %>
            
    
            <hr class="my-3">
            <div class="orders-detail text-right">
                <h3 class="text-xl font-bold">Total Amout: <span class="totalAmout">$<%= session.cart.totalPrice %></span></h3>
                <form action="">
                    <input class="text-input block ml-auto my-3 outline-none px-2 w-80" type="text" name="address"
                        placeholder="address">
                    <input class="text-input block ml-auto my-3 outline-none px-2 w-80" type="number" name="phone"
                        placeholder="phone">
    
                    <!-- <button class="order-now block ml-auto border px-4 py-2 rounded-full" type="submit">Order now</button> -->
                </form>
            </div>
    
            <div class="text-right">
                <a href="/login" class="order-now border px-4 my-2 py-2 inline-block rounded-full ml-auto">Login to
                    continue</a>
            </div>
    
    
        </div>
     
    <% } else { %>
     
        <div class="empty-cart container mx-auto min-h-[80vh] flex justify-center items-center">
            <div class="">
                <h2 class="text-3xl font-bold">Cart Empty</h2>
                <p class="mt-4 font-medium">You probably haven't ordered a pizza yet.
                    <br>
                    To order pizza, go to the main <a class="text-blue-600" href="/">page</a>
                </p>
        
                <a class="go-back my-5 inline-block border px-4 py-2 rounded-full" href="/">Go back</a>
            </div>
        </div>

        <% } %>



</section>